version: '3.8'

services:
  # 1. GitLab (Git Server)
  gitlab:
    image: 'gitlab/gitlab-ce:latest'
    container_name: gitlab-server
    restart: always
    hostname: 'gitlab.example.com'
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'http://localhost:8929'
        gitlab_rails['initial_root_password'] = 'Password1234!'
    ports:
      - '8929:8929'
      - '2224:22'
    volumes:
      - './docker-data/gitlab/config:/etc/gitlab'
      - './docker-data/gitlab/logs:/var/log/gitlab'
      - './docker-data/gitlab/data:/var/opt/gitlab'
    shm_size: '256m'

  # 2. SVN Server (Subversion)
  svn-server:
    image: 'garethflowers/svn-server'
    container_name: svn-server
    restart: always
    ports:
      - '3690:3690' # SVN 프로토콜 포트
    volumes:
      - './docker-data/svn:/var/opt/svn'

  ollama:
    image: ollama/ollama:latest
    container_name: ollama-server
    restart: always
    ports:
      - "11434:11434"
    volumes:
      - ./docker-data/ollama:/root/.ollama