version: '3.8'

services:
  # 1. GitLab (Git Server)
  gitlab:
    image: 'gitlab/gitlab-ce:latest'
    container_name: gitlab-server
    restart: always
    hostname: 'gitlab.example.com'
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'http://localhost:8929'
        gitlab_rails['initial_root_password'] = 'Password1234!'
    ports:
      - '8929:8929'
      - '2224:22'
    volumes:
      - './docker-data/gitlab/config:/etc/gitlab'
      - './docker-data/gitlab/logs:/var/log/gitlab'
      - './docker-data/gitlab/data:/var/opt/gitlab'
    shm_size: '256m'

  # 2. SVN Server (Subversion)
  svn-server:
    image: 'garethflowers/svn-server'
    container_name: svn-server
    restart: always
    ports:
      - '3690:3690' # SVN 프로토콜 포트
    volumes:
      - './docker-data/svn:/var/opt/svn'
      - './svn-hooks/post-commit:/tmp/post-commit'
    entrypoint:
      - /bin/sh
      - -c
      - |
        # curl 설치
        if ! command -v curl > /dev/null; then
            apk add --no-cache curl
        fi
        
        REPO_NAME="example-svn"
        BASE_DIR="/var/opt/svn"
        REPO_PATH="$$BASE_DIR/$$REPO_NAME"
        
        if [ -d "$$BASE_DIR/conf" ]; then
           exit 1
        fi
        
        if [ ! -d "$$REPO_PATH" ]; then
            svnadmin create "$$REPO_PATH"
            CONF="$$REPO_PATH/conf/svnserve.conf"
            sed -i 's/# anon-access = read/anon-access = write/' "$$CONF"
        fi
        
        # 훅 설정
        HOOK_PATH="$$REPO_PATH/hooks/post-commit"
        if [ -f "/tmp/post-commit" ]; then
            cp /tmp/post-commit "$$HOOK_PATH"
            chmod +x "$$HOOK_PATH"        
            sed -i 's/\r$$//' "$$HOOK_PATH"
        fi
        
        /usr/bin/svnserve -d --foreground -r /var/opt/svn

  ollama:
    image: ollama/ollama:latest
    container_name: ollama-server
    restart: always
    ports:
      - "11434:11434"
    volumes:
      - ./docker-data/ollama:/root/.ollama

  review-bot:
    image: chanbeen/internal-code-review-bot:latest
    container_name: review-bot
    restart: always
    ports:
      - "8080:8080"
    environment:
      - SERVER_BASE_URL=http://review-bot:8080
      - OLLAMA_BASE_URL=http://ollama-server:11434
      - OLLAMA_MODEL=llama3
      - SVN_BASE_URL=svn://svn-server:3690
      - GITLAB_BASE_URL=http://gitlab-server:8929
      - GITLAB_PRIVATE_TOKEN=${GITLAB_TOKEN}
    depends_on:
      - ollama
      - svn-server